.container {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.welcomeSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 85%;
  margin-top: 50px;
  align-items: center;
  width: 100%;
}
.button {
  width: 150px;
  height: 60px;
  font-size: 18px;
}
