@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: all 0.1s ease;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

#root {
  height: 100vh;
}

::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(95, 95, 95);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.isActive .item {
  border-left: 5px;
  @apply bg-slate-700 border-solid border-gray-500;
}
