@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: IranSans;
  src: url(../Assets/Fonts/IRANSans_Medium.woff);
}
* {
  transition: all 0.1s ease;
  font-family: IranSans;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
html,
body,
#root {
  height: 100%;
}
