* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.notfound {
  position: relative;
  height: 100vh;
  /* height: 85%; */
}

.notfound .notfoundd {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notfoundd {
  max-width: 460px;
  width: 100%;
  text-align: center;
  line-height: 1.4;
}

.notfoundd .notfound404 {
  height: 158px;
  line-height: 153px;
}

.notfoundd .notfound404 h1 {
  font-family: "Josefin Sans", sans-serif;
  color: #222;
  font-size: 220px;
  letter-spacing: 10px;
  margin: 0px;
  font-weight: 700;
  text-shadow: 2px 2px 0px #c9c9c9, -2px -2px 0px #c9c9c9;
}

.notfoundd .notfound404 h1 > span {
  text-shadow: 2px 2px 0px #ffab00, -2px -2px 0px #ffab00, 0px 0px 8px #ff8700;
}

.notfoundd p {
  padding: 0 10px;
  margin-top: 20px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px;
}

.notfoundd a {
  margin-top: 30px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid;
  display: inline-block;
  padding: 10px 25px;
  font-weight: 700;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfoundd a:hover {
  color: #ffab00;
  border-color: #ffab00;
}

@media only screen and (max-width: 480px) {
  .notfoundd .notfound404 {
    height: 122px;
    line-height: 122px;
  }
}
.notfoundd .notfound404 h1 {
  font-size: 122px !important;
}
